html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

#map {
    position: relative;
    height: 100%;
    width: 100%;
    
}

/* FOOTER */

nav {
    display: flex;
    justify-content: space-evenly;
    height: 7vh;
    width: 100%;
    padding-bottom: env(safe-area-inset-bottom);
    display: flex;
    align-items: center;
    background: rgb(29, 29, 28);
    position: relative;
    z-index: 1002;

}

nav .navBtn {
    padding: 0px;
    background: rgb(29, 29, 28);
    min-height: 100%;
    min-width: 33.33%;
    border: none;
    color: white;
    transition: background 0.2s ease;
    }

nav .navBtn:active {
    padding: 0px;
    background: rgb(6, 6, 6);
    min-height: 100%;
    min-width: 33.33%;
    border: none;
    color: white;
}

nav button svg {
    min-width: 35px;
    min-height: 35px;
}


/* MAIN */
.uiButtons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.uiBtn {
    min-width: 45px;
    min-height: 45px;
    z-index: 1000;
    border-radius: 50%;
    border: none;
    background: rgba(255, 255, 255, 0.855);
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.237); 
    transition: background 0.2s ease-out;
}



.uiBtn:disabled {
  background-color: rgba(255, 255, 255, 0.7);
  color: #777;
  cursor: not-allowed;
    
}

.uiBtn:disabled p{
  color: #777;
  
}


.uiBtn:not(:disabled):active {
    min-width: 45px;
    min-height: 45px;
    z-index: 1000;
    border-radius: 50%;
    border: none;
    background: rgba(156, 156, 156, 0.855);
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.237); 

}

.uiBtn p {
    color: black;
    font-weight: bold;
}

.uiBtn svg {
    min-width: 30px;
    min-height: 30px;
}

/* LEAFLET */
.leaflet-bottom.leaflet-right .leaflet-control-scale {
    margin: -10px;
}


.leaflet-control-scale {
    font-size: 0.75rem;
    font-size: 0.75rem;
}
    

.leaflet-control-scale-line {
    background: rgba(255, 255, 255, 0.573);
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-shadow: none;
    min-width: 75px;
    height: 20px;
    margin: 15px;
    border: 2px solid rgb(0, 0, 0);
    border-top: none;
    
}

.leaflet-control-scale .scale-value {
    font-size: 50px;
}


/* ZOOM */
.leaflet-top.leaflet-left .leaflet-control-zoom {
    margin-top: 75px;
}

/* HEADER */

.searchingPanel {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1000;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.searchingInput {
    background: white;
    border-radius: 15px;
    min-width: 300px;
    min-height: 40px;
    width: 340px;
    height: 40px;
    padding-left: 10px;
    border: none;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.237);
}

.searchBtn {
    position: relative;
    right: 52%;
    min-width: 35px;
    min-height: 35px;
    height: 35px;
    width: 35px;
    background: white;
    border: none;
    color: black
}

.searchingInput:focus {
    outline: none;
    background: white;
}

.searchingPointsList {
    position: absolute;
    top: 61%;              
    width: 340px;                   
    max-height: 250px;
    padding: 0;
    list-style: none;
    overflow-y: auto;
    background: white;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    z-index: 1000; 
}

.searchingPointsList li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 12px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    z-index: 1000;
}

.straightNavigationBtn {
    background: rgba(96, 155, 237, 0.94);
    border: 2px solid rgba(0, 0, 0, 0.447);
    color: white;
    border-radius: 10px;
    padding: 5px;
    width: 150px;
    margin-bottom: 7px;
    transition: background 0.5s ease-out;
    
}

.straightNavigationBtn:active {
    background: rgba(6, 41, 92, 0.94);
}

.rasterNavigationBtn {
    background: rgba(0, 0, 0, 0.83);
    border: 2px solid rgba(0, 0, 0, 0.447);
    color: white;
    border-radius: 10px;
    padding: 5px;
    width: 150px;
    margin-bottom: 5px;
    transition: background 0.5s ease-out;
}

.rasterNavigationBtn:active {
    background: rgba(0, 0, 0, 0.5);
}

.infBtn {
    position: absolute;
    z-index: 1000;
    background: #643be1c9;
    width: 35px;
    height: 35px;
    top: 85px;
    right: 15px;
    border: 2px solid #ffffffc8;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    transition: background 0.1s ease-in;
    
}

.infBtn:active {
    background: #19035bc9;
}


.infPanel {
    position: absolute;
    z-index: 999;
    background: white;
    min-width: 150px;
    width: 215px;
    height: auto;
    padding: 10px 10px 10px 10px;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.74); 
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.infPanel.active {
    display: flex;
    flex-direction: column;;
}

.straightDistanceResult {
    display: flex;
    flex-direction: row;
    
}

.rasterDistanceResult {
    display: flex;
    flex-direction: row;
    
}


.straightDistanceResult p {
    margin: 0;
}

.rasterDistanceResult p {
    margin: 0;
}

.straightDistanceResultEndBtn {
    color: red;
    font-weight: bold;
    font-size: 9px;
    height: 15px;
    width: 22px;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
    
}

.rasterDistanceResultEndBtn {
    color: red;
    font-weight: bold;
    font-size: 9px;
    height: 15px;
    width: 22px;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
    
}


.gpsAccuracy p {
    margin: 0;
}


.currentZone p {
    margin: 0;
}


.selectedPointsBtn {
    position: absolute;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.864);
    width: 35px;
    height: 35px;
    top: 130px;
    right: 15px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.418);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    font-size: 15px;
    font-weight: bold;
}

.selectedPointsBtn.active{
    background: rgb(0, 254, 4); 
    color: #0d4a87;
    border: 2px solid #0d4a87d4;
}

/* POPUP */
.leaflet-popup.leaflet-zoom-animated {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    
} /* popup okno*/

.leaflet-popup-content-wrapper {
    color: black;
    background: rgba(255, 255, 255, 0.929);
} /* Vnější obal obsahu popupu */

.leaflet-popup-content {
    line-height: 150%;
    font-size: 13px;
} /* Vnitřní obsah popupu */

.pointNumber {
    font-size: 15px;
    font-weight: bold;
    margin-left: 15px;
}

.pointInfo {
    background: rgb(255, 255, 255);
    padding: 8px 12px 8px 12px;
    margin: 7px 0 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 13px;
}

.selectCheckbox {
    display: inline-flex;
    align-items: center;   /* vertikální zarovnání */
    gap: 1px; 
    font-weight: bold;
    margin-top: 3px;
    padding-top: 5px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.zones {
    color: red;
}


.navLayers {
    position: fixed;
    z-index: 1001;
    bottom: 7vh;
    width: 100%;
    height: 40vh;
    background: white;
    transform: translateY(150%);
    transition: transform 0.5s ease;
    border-radius: 15px;
    overflow-y: auto;
    min-height: 295px;
    
    
}

.navLayers.open {
    transform: translateY(0);
}

.navLayersEndBtn {
    position: absolute;
    left: 89.5%;
    top: 2.5%;
    background: #41404028;
    border: none;
    font-size: 20px;
    color: #00000075;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    padding: 0.5px 7.5px 0.5px 7.5px;
    border-radius: 5px;
}



.navLayersWrap {
    height: calc(50% - 20px);
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.navLayersWrap:last-child{
    border-bottom: none;
}

.navLayersWrap p {
    margin: 16px 0 16px 16px

}

.layersSelect{
    display: flex;
    gap: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.layerBtn {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 10%;
    border: none;
}

.layerBtn p {
    position: absolute;
    top: 100%;
    left: 48%;
    transform: translateX(-50%);
    margin: 7.5px 0 0 0;
    font-size: 12px;
}


.select {
    outline: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
}

/* OSM náhled */
.layerBtn.osm {
    background-image: url("https://a.tile.openstreetmap.org/12/2203/1384.png");
}

/* Orto náhled */
.layerBtn.orto {
    background-image: url("https://ags.cuzk.gov.cz/arcgis1/rest/services/ORTOFOTO_WM/MapServer/tile/12/1384/2203");
}


/* SUPPORT */
.navSupport {
    position: fixed;
    z-index: 1001;
    bottom: 7vh;
    width: 100%;
    height: calc(100vh - 7vh);
    background: white;
    transform: translateY(150%);
    transition: transform 0.5s ease;
    border-radius: 15px;
    overflow-y: auto;
    
}

.navSupport.open {
    transform: translateY(0);
}

.navSupportText {
        margin: 30px;
        padding-top: 15px;
}

.navSupportEndBtn {
    position: absolute;
    left: 89.5%;
    top: 9%;
    background: #41404028;
    border: none;
    font-size: 20px;
    color: #00000075;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    padding: 0.5px 7.5px 0.5px 7.5px;
    border-radius: 5px;
}

.supportList {
    margin-bottom: 35px;
    font-size: 1.2rem;
}

.supportList ol a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
}


.supportList ol a li {
    margin-bottom: 12px;
}


.supportInfo .container {
    margin-bottom: 50px;
    border-top: 1px solid rgba(31, 30, 30, 0.2);
}

.supportInfo {
    line-height: 1.4;
}


.greenText {
    color: rgb(15, 113, 15);
}

.yellowText {
    color: rgb(255, 255, 0);
}

.orangeText {
    color: rgb(255, 157, 0);
}

.redText {
    color: rgb(255, 0, 0);
}

.lightGreenText {
    color: rgb(0, 254, 4);
}

.lightBlueText {
    color: rgba(0, 166, 255, 0.8);
}

.blueText {
    color: #643be1c9;
}

/* ABOUT APPLICATION */
.navAboutApp {
    position: fixed;
    z-index: 1001;
    bottom: 7vh;
    width: 100%;
    height: calc(100vh - 7vh);
    background: white;
    transform: translateY(150%);
    transition: transform 0.5s ease;
    border-radius: 15px;
    overflow-y: auto;
    
}

.navAboutApp.open {
    transform: translateY(0);
}

.navAboutAppEndBtn {
    position: absolute;
    left: 89.5%;
    top: 9%;
    background: #41404028;
    border: none;
    font-size: 20px;
    color: #00000075;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    padding: 0.5px 7.5px 0.5px 7.5px;
    border-radius: 5px;
}

.navAboutAppText {
        margin: 30px;
        padding-top: 15px;
}

.navAboutAppText h2 {
        margin: 25px 0 5px 0;
}

.navAboutAppText p {
    margin: 0;
    line-height: 1.4;
}

/* M lokace */
.MLocation {
    position: fixed;
    z-index: 1001;
    bottom: 7vh;
    width: 100%;
    height: 50%;
    background: white;
    transform: translateY(150%);
    transition: transform 0.5s ease;
    overflow-y: auto;
    min-height: 295px;
}

.MLocation.open {
    transform: translateY(0);
}

.MLocationEndBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3000;
    padding: 6px 10px;
    font-size: 17px;
    border-radius: 10px;
}

.MPic {
    width: 100%;
    height: auto;
    display: block;
}

/* B lokace */
.BLocation {
    position: fixed;
    z-index: 1001;
    bottom: 7vh;
    width: 100%;
    height: 50%;
    background: white;
    transform: translateY(150%);
    transition: transform 0.5s ease;
    overflow-y: auto;
    min-height: 295px;
}

.BLocation.open {
    transform: translateY(0);
}

.BLocationEndBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3000;
    padding: 6px 10px;
    font-size: 17px;
    border-radius: 10px;
}

.BPic {
    width: 100%;
    height: auto;
    display: block;
}

/* B lokace */
.CLocation {
    position: fixed;
    z-index: 1001;
    bottom: 7vh;
    width: 100%;
    height: 50%;
    background: white;
    transform: translateY(150%);
    transition: transform 0.5s ease;
    overflow-y: auto;
    min-height: 295px;
}

.CLocation.open {
    transform: translateY(0);
}

.CLocationEndBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3000;
    padding: 6px 10px;
    font-size: 17px;
    border-radius: 10px;
}

.CPic {
    width: 100%;
    height: auto;
    display: block;
}

/* F lokace */
.FLocation {
    position: fixed;
    z-index: 1001;
    bottom: 7vh;
    width: 100%;
    height: 50%;
    background: white;
    transform: translateY(150%);
    transition: transform 0.5s ease;
    overflow-y: auto;
    min-height: 295px;
}

.FLocation.open {
    transform: translateY(0);
}

.FLocationEndBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3000;
    padding: 6px 10px;
    font-size: 17px;
    border-radius: 10px;
}

.FPic {
    width: 100%;
    height: auto;
    display: block;
}