html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

#map {
    positon: relative;
    height: 100%;
    width: 100%;
    
}

/* FOOTER */

nav {
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    width: 100%;
    padding-bottom: env(safe-area-inset-bottom);
    display: flex;
    align-items: center;
    background: rgb(29, 29, 28);

}

nav .navBtn {
    padding: 0px;
    background: rgb(29, 29, 28);
    min-height: 100%;
    min-width: 33.33%;
    border: none;
    color: white;
    transition: background 0.2s ease;
    }

nav .navBtn:active {
    padding: 0px;
    background: rgb(6, 6, 6);
    min-height: 100%;
    min-width: 33.33%;
    border: none;
    color: white;
}

nav button svg {
    min-width: 35px;
    min-height: 35px;
}


/* MAIN */
.uiButtons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 83%;
    left: 3%;
}

.uiBtn {
    min-width: 45px;
    min-height: 45px;
    z-index: 1000;
    border-radius: 50%;
    border: none;
    background: rgba(255, 255, 255, 0.855);
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.237); 
    transition: background 0.2s ease-out;
}



.uiBtn:disabled {
  background-color: rgba(255, 255, 255, 0.7);
  color: #777;
  cursor: not-allowed;
    
}

.uiBtn:disabled p{
  color: #777;
  
}


.uiBtn:not(:disabled):active {
    min-width: 45px;
    min-height: 45px;
    z-index: 1000;
    border-radius: 50%;
    border: none;
    background: rgba(156, 156, 156, 0.855);
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.237); 

}

.uiBtn p {
    color: black;
    font-weight: bold;
}

.uiBtn svg {
    min-width: 30px;
    min-height: 30px;
}

/* LEAFLET */
.leaflet-bottom.leaflet-right .leaflet-control-scale {
    margin: -10px;
}


.leaflet-control-scale {
    font-size: 0.75rem;
    font-size: 0.75rem;
}
    

.leaflet-control-scale-line {
    background: rgba(255, 255, 255, 0.573);
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-shadow: none;
    min-width: 75px;
    height: 20px;
    margin: 15px;
    border: 2px solid rgb(0, 0, 0);
    border-top: none;
    
}

.leaflet-control-scale .scale-value {
    font-size: 50px;
}


/* ZOOM */
.leaflet-top.leaflet-left .leaflet-control-zoom {
    margin-top: 75px;
}

/* HEADER */

.searchingPanel {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1000;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
}

.searchingInput {
    background: white;
    border-radius: 15px;
    min-width: 300px;
    min-height: 40px;
    width: 340px;
    height: 40px;
    padding-left: 10px;
    border: none;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.237);
}

.searchBtn {
    position: relative;
    right: 52%;
    min-width: 35px;
    min-height: 35px;
    height: 35px;
    width: 35px;
    background: white;
    border: none;
    color: black
}

.searchingInput:focus {
    outline: none;
    background: white;
}

.searchingPointsList {
    position: absolute;
    top: 61%;              
    width: 340px;                   
    max-height: 250px;
    padding: 0;
    list-style: none;
    overflow-y: auto;
    background: white;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    z-index: 1000; 
}

.searchingPointsList li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 12px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    z-index: 1000;
}

.straightNavigationBtn {
    background: yellow;
}



.infBtn {
    position: absolute;
    z-index: 1000;
    background: #643be1c9;
    width: 35px;
    height: 35px;
    top: 10%;
    left: 88%;
    border: 2px solid #ffffffc8;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}


.infPanel {
    position: absolute;
    z-index: 999;
    background: white;
    width: auto;
    height: 80px;
    padding: 5px 10px 5px 10px;
    top: 10%;
    left: 18%;
    display: none;
    flex-direction: column;
    border: 2px solid black; 
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.infPanel.active {
    display: flex;
    flex-direction: column;;
}

.straightDistanceResult {
    display: flex;
    flex-direction: row;
    
     
}

.currentZone p {
    margin: 0;
}

.straightDistanceResult p {
    margin: 0;
}

.rasterDistanceResult p {
    margin: 0;
}

.gpsAccuracy p {
    margin: 0;
}

.straightDistanceResultEndBtn {
    color: red;
    font-weight: bold;
    font-size: 9px;
    height: 15px;
    width: 22px;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
    
}



.selectedPointsBtn {
    position: absolute;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.864);
    width: 35px;
    height: 35px;
    top: 17%;
    left: 88%;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.418);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    font-size: 15px;
    font-weight: bold;
}

.selectedPointsBtn.active{
    background: rgb(38, 242, 11);
    color: white;
    border: 2px solid #ffffffc8;
}

/* OBLASTI */
