html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

#map {
    height: 100%;
    width: 100%;
    
}



nav {
    flex: 0 0 auto;
    height: 60px;
    width: 100%;
    padding-bottom: env(safe-area-inset-bottom);
    display: flex;
    align-items: center;
   
    
    
    
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    list-style: none;
    background: gray;
    width: 100%;
}